@model RegisterViewModel
@{
    ViewData["Title"] = "Yangi foydalanuvchi yaratish";
}

<section class="signin-section">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Yangi foydalanuvchi</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">Boshqaruv</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Yangi foydalanuvchi
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0 auth-row">
            <div class="col-lg-6">
                <div class="auth-cover-wrapper bg-primary-100">
                    <div class="auth-cover">
                        <div class="title text-center">
                            <h1 class="text-primary mb-10">Xush kelibsiz</h1>
                            <p class="text-medium">Universitetning 2022 - 2023 - o'quv yili uchun qabul platformasi.</p>
                        </div>
                        <div class="cover-image">
                            <img src="/images/auth/signin-image.svg" alt="" />
                        </div>
                        <div class="shape-image">
                            <img src="/images/auth/shape.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="signin-wrapper">
                    <div class="form-wrapper">
                        <h6 class="mb-15">Yangi foydalanuvchi yaratish</h6>
                        <p class="text-sm mb-25">Yangi foydalanuvchini faqat maxsus admin yaratishi mumkin.</p>
                        <form asp-controller="account" asp-action="register" method="post">
                            <div class="row">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label asp-for="Key"></label>
                                        <input asp-for="Key" type="text" placeholder="Foydalanuvchi kalitini kiriting" />
                                        <span class="text-danger" asp-validation-for="Username"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label asp-for="Username"></label>
                                        <input asp-for="Username" type="text" placeholder="Foydalanuvchi nomini kiriting" />
                                        <span class="text-danger" asp-validation-for="Username"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="select-style-1">
                                        <label asp-for="Role"></label>
                                        <div class="select-position">
                                            <select required asp-for="Role">
                                                <option selected disabled>-- Foydalanuvchi rolini tanlang --</option>
                                                <option value="guest">Konsalting</option>
                                                <option value="host">HighWay uchun admin</option>
                                                <option value="owner">Super Admin</option>
                                            </select>
                                            <span class="text-danger" asp-validation-for="Role"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap ">
                                        <button type="submit" class="main-btn primary-btn btn-hover w-100 text-center">
                                            Yaratish
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>