@{
    ViewData["Title"] = "Talabgorlar";
}

<section class="table-components">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2 class="mb-30">Talabgorlar</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#0">Info</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Talabgorlar</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h6 class="mb-10">Ro'yxatga olingan talabgorlar ma'lumotlari</h6>
                        <p class="text-sm mb-20">Barcha ro'yxatga olingan talabgorlar ma'lumotlarini fayllarini yuklab oling.</p>
                        <div class="row">
                            <div class="col-12">
                                <a class="main-btn primary-btn" asp-controller="Info" asp-action="AllApplicants">Barchasi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
